@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background: black;
    font-family: 'Lato', sans-serif;
}

#theme {
    display: flex;
    justify-content: flex-end;
    width: 95vw;
    height: 60px;
}

#score {
    margin: 10px;
    font-size: 20px;
}

.light, .dark {
    background: gainsboro;
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}

.light {
    background-image: url(./img/brightness.png);
}

.dark {
    background-image: url(./img/darkMode.png);
    background-size: contain;
}